body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #ffffff;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 130vh;
}

.page-title {
  color: #000;
  margin: 0 0 5px;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 20px;
}

.page-subtitle {
  color: #000;
  margin-top: 5px;
  font-size: 24px;
  margin: 30px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  padding: 10px 60px;
  border-radius: 5px;
}

label {
  font-size: 24px;
  color: #000;
}

button {
  margin-top: 12px;
  padding: 9px 20px;
  border-radius: 5px;
  background: #000;
  color: #ffffff;
  font-size: 15px;
}

h2 {
  color: #000;
  font-size: 30px;
}

.bandeiras {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.bandeiras-img {
  height: 150px;
  width: 150px;
}

.img {
  background-color: #000;
  height: 35px;
}



.dinheiro-img {
  text-align: center;
  height: 400px;
}
